/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messageWindow.css ==============================================
  == Styles for the message window.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/primaryToolbar.css");

/* ::::: Mail Toolbars and Menubars ::::: */

/* stylelint-disable-next-line media-query-no-invalid */
@media (-moz-bool-pref: "mail.theme.macos.native-theme") {
  #mail-toolbox:not([lwtheme]) {
    background: transparent;

    /* This is conceptually a background, but putting this on a
     * pseudo-element avoids it from suppressing the chrome-content separator
     * border, etc */
    &::after {
      -moz-default-appearance: -moz-window-titlebar;
      appearance: auto;
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }
}

#titlebar {
  -moz-window-dragging: drag;
  height: 22px;
}

.titlebar-buttonbox-container {
  margin-top: 3px;
  margin-inline-start: 7px;
}

.titlebar-buttonbox {
  margin-inline: 0;
}

#titlebar-title {
  overflow: hidden;
  /* Equalize the titlebar-buttonbox width */
  padding-inline-end: 60px;
}

#titlebar-title-label {
  justify-content: center;
}

.mail-toolbox {
  border-bottom: 0;
}

:root[lwtheme] #mail-toolbox {
  box-shadow: none;
}

#messagepaneboxwrapper {
  overflow: hidden;
  min-height: 0;
}

#messagepanebox {
  flex: 3 3;
  text-shadow: none;
}
